################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Breakout Game/FileContentIndex
/.vs/Breakout Game/v17/.suo
/bin/Debug/Breakout Game.exe
/bin/Debug/Breakout Game.pdb
/obj/Debug/Breakout Game.csproj.GenerateResource.cache
/obj/Debug/Breakout Game.exe
/obj/Debug/Breakout Game.pdb
